<table>
  <thead>
    <tr>
      <th>Domain</th>
      <th>Number of internal links</th>
      <th>Number of external links</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'website', collection: @websites %>
  </tbody>
</table>